@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --almond-silk: #edc4b3;
  --desert-sand: #e6b8a2;
  --light-bronze: #deab90;
  --light-bronze-2: #d69f7e;
  --light-bronze-3: #cd9777;
  --toasted-almond: #c38e70;
  --faded-copper: #b07d62;
  --cinnamon-wood: #9d6b53;
  --toffee-brown: #8a5a44;
  --clay-soil: #774936;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #2d1810;
  color: #edc4b3;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9d6b53 #3d241a;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #3d241a;
}

*::-webkit-scrollbar-thumb {
  background-color: #9d6b53;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b07d62;
}
